// Colors
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Typography
$primary-font: 'League Spartan', sans-serif;

// Font Sizes
$lg-size: 4rem;
$md-size: 1.6rem;
$sm-size: 1.4rem;

// Font Weigths
$light: 400;
$medium: 500;
$bold: 700;

// General Resets
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
}

// Flexbox Factory
@mixin flexbox($direction:null, $content:null, $align:null, $gap:null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $align;
	gap: $gap;
}

// Breakpoints
@media screen and (max-width: 541px) {
	body {
		display: grid;
		place-content: center;
		height: auto;
	}
}